@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav">
    <li>
        @Html.ActionLink("Greetings " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
</ul>

    }
}