@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using Lexicon_LMS.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        ApplicationUser user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());@*TODO: check if null *@
        string welcome = "";

        if (user.Forename != null)
        {
            welcome = user.Forename;
        }
        else { welcome = User.Identity.GetUserName(); }

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Greetings " + welcome + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        </ul>
    }
}
