.navbar-inverse {
    background-color: #996600;
    border-color: #d9d7d7;
}

.navbar-inverse .navbar-text {
    color: #d9d7d7;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #d9d7d7;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #1f1f1f;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d9d7d7;
    font-family: Arial;
    font-size: 15px;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #1f1f1f;
}


.navbar-btn {
    background-color: #996600
}

