body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add a background color on hover */
.btn-group button:hover {
    color: #1f1f1f;
}


.main-div {
    border-radius: 12px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.85);
}
.h2-override{
    padding-top: 10px;
    margin-left: 10px;
}

.nav-tabs li.active a {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    opacity: .76;
    border-bottom-color: none;
}

.tab-content{
    background:#fff;
}

.a-override {
    color: #000
}

.tablayout {
    background-color: #ddd;
    border-radius: 12px;
    margin-top: 20px;
    border-bottom:black;
}

.p-override{
    margin: 0px 10px 10px 10px;
    padding-top: 10px;
}

.glyph-fix{
    margin-left: 20px;
}