body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
    
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add a background color on hover */
.btn-group button:hover {
    color: #1f1f1f;
}


.main-div {
    border-radius: 12px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.85);
}
.h2-override{
    padding-top: 10px;
    margin-left: 5px;
}